.history-card{
    height: max-content;
    min-width: 200px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: block;
    p{
        font-size: 20px;
        text-transform: capitalize;
        color: rgb(255, 255, 255);
    };
}