.header-parent-container{
    box-shadow: rgba(148, 143, 126, 0.1) 0px 10px 10px -10px;
    display: flex;
    background-color: rgb(10, 10, 10);
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: medium;
    text-transform: uppercase;

    a{
        color: black;
        text-decoration: none;
    }

    .left{
        display: flex;
        align-items: center;
        gap: 34px;
    }

    .right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 34px;
    }
    button{
        height: 40px;
        width: 100px;
        text-transform: uppercase;
        font-weight: 600;
        background-color: rgb(234, 234, 234);
        border: none;
        border-radius: 10px;
        transition: 0.3s ease;
    }
    button:hover{
        background-color: rgb(185, 185, 185);
    }
}