.content{
    text-align: center;
    color: rgb(48, 48, 48);
    display: block;
    width: 40vw;
    padding: 10px;
    font-size: larger;
    position: absolute;
	top: 20%;
	left: 30%;
    
    h1{
        margin-bottom: 10px;
    }
    p{
        margin: 20px;
    }
    button{
        font-size: medium;
        margin-top: 10px;
        width: 30vw;
        background-color: rgb(166, 231, 27);
        text-decoration-line: none;
        font-weight: bold;
        
    }
    button:hover{
        background-color: rgb(255, 255, 18);
    }
}
